<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <div th:fragment="header-css">
        <!-- Bootstrap core CSS-->
    <link th:href="@{/vendors/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendors/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link th:href="@{/landpage/css/sb-admin.css}" rel="stylesheet">
    
    <script th:src="@{/vendors/js/jquery.min.js}"></script>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Spring Boot</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/}">Home</a></li>
                </ul>
            </div>
        </div>
    </nav> -->
</div>

</body>
</html>